.button {
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  color: var(--color-white);
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s ease, color 0.2s ease, transform 0.1s ease,
    box-shadow 0.2s ease;
  user-select: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
